.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: #46b3bd;
}
